h1{
    font-family: Arial, Helvetica, sans-serif;text-align: center;border: thin blue dashed;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 9px;font-style: italic;color: green;text-decoration: blink;
}
h3{
    font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-style: normal;font-weight: bold;color: blanchedalmond;
}
